.sidenav {
    height: 100%;
    width: 15%;
    padding-top: 65px;
}
  
.sidenav-container{
    height: 100%;
    width: 100%;
    background-color: rgb(20, 20, 20);
}
.sidenav-entry{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    height: 5%;
}
.entry-name{
    margin-left: 5px;
}
.sidenav-entry:hover{
    background-color: rgb(15, 15, 15, 0.5);
}