<span [cpToggle]="true"
        [cpDialogDisplay]="'inline'"
        [cpCancelButton]="false"
        [(colorPicker)]="arrayColors[selectedColor]"
        (colorPickerChange)="print()">
</span>
<div class="test" [style.background]="arrayColors['color1']" (click)="selectedColor='color1'"></div>
<div class="test" [style.background]="arrayColors['color2']" (click)="selectedColor='color2'"></div>

<div class="test" [style.background]="arrayColors['color5']" (click)="hello()"></div>
<div class="test" [style.background]="arrayColors['color5']" (click)="startConnection()"></div>
<div class="test" [style.background]="arrayColors['color5']" (click)="stopConnection()"></div>
<div class="test" [style.background]="arrayColors['color5']" (click)="sendMessage('testas')"></div>
getendpoint
<div class="test" [style.background]="arrayColors['color5']" (click)="getEndpoint()"></div>
<div class="test" [style.background]="arrayColors['color5']" (click)="printCurrState()"></div>